@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

@layer base {
    :root {
        --primary-700: 214, 100%, 45%;
    }
}

*::selection {
    background-color: hsla(var(--primary-700), 10%) !important;
    color: hsla(var(--primary-700), 100%) !important;
}
